    @import url('fontiran.css');

    * {
      font-family: IRANSansXFaNum;
    }

    :root {
      --background: #07070B;
      --background-2: #1B1C1E;
      --card: #2F272C;
      --card-2: #443F43;

      --gold: #f18e15;
      --gold-dark: #6A3922;

      --purple: #26275F;
      --magenta: #A02164;

      --text: #E3E1E1;
      --text-secondary: #B8AFAC;
      --text-muted: #8D8786;
      --border: #666162;
      --star: #D7B437;
    }

    html {
      scroll-behavior: smooth;
    }

    .transition_root {
      transition: all 300ms ease-in;
    }

    .gradient_box1 {
      background: linear-gradient(275deg, rgba(170, 117, 44, 1) 27%, rgba(224, 180, 73, 1) 90%);

    }

    .gradient_box1_hover_chang:hover {
      background: var(--background);
    }

    .gradient_comment_box {
      background: linear-gradient(305deg, rgba(19, 15, 53, 1) 0%, rgba(7, 7, 11, 1) 16%, rgba(9, 8, 13, 1) 89%, rgba(32, 22, 33, 1) 100%);
    }

    .cheng_text_colot_hover:hover .gradent_text_sub_heder {
      width: 100%;

    }

    .rezume_gradient:hover {
      background: linear-gradient(275deg, rgba(170, 117, 44, 1) 27%, rgba(224, 180, 73, 1) 90%);

    }

    .scale:hover {
      transform: scale(1.03);
    }

    .scale:active {
      transform: scale(1.03);
    }

    /* .servis_pup_up_hover:hover :nth-child(3){
        display:block;
    } */

    .animation_play_vidio {

      border: 1px dashed red;
      animation: animation_play_vidio infinite 1.3s linear;

    }

    @keyframes animation_play_vidio {
      0% {
        box-shadow: 0px 0px 1px 1px #ff8c00;
        /* box-shadow; */
      }

      25% {
        box-shadow: 0px 0px 2px 2px #f18a0c;

      }

      50% {
        box-shadow: 0px 0px 3px 3px #ed8c17;

      }

      75% {
        box-shadow: 0px 0px 4px 4px #f4992a;

      }

      100% {
        box-shadow: 0px 0px 5px 5px #ed9a35;

      }


    }

    .dropdown-child {
      visibility: hidden;
    }

    .dropdown:hover .dropdown-child,
    .dropdown-child:hover {
      visibility: visible;
    }