@import url("fontiran.css");
@import url("primary_colors.css");



input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  margin: 0;
}

* {
  font-family: 'IRANSansX';
}

.samim {
  font-family: 'Samim';
}

.yekan {
  font-family: 'Yekan';
}

.menuLink svg path {
  transition: all 300ms;
}

.menuLink:hover {
  color: var(--color-primary);
}

.menuLink:hover svg>path {
  fill: var(--color-primary);
}

.menuItemParent:hover>.menuItemChild {
  margin-top: 0;
  opacity: 1;
  visibility: visible;
  pointer-events: visible;
  top: 56px;
}

.menuItemParent:hover>div {
  margin-top: 0;
  opacity: 1;
  visibility: visible;
  pointer-events: visible;
  max-height: 575px;
}


.activeSubMenuCat {
  background-color: #FD9636;
  color: white;
}

.productItem:hover div .buttonProduct {
  transform: translateX(16px);
  opacity: 1;
}


.productItem > div > .buttonProduct.btnAnimation, .productItem > div > .buttonProduct.btnAnimation>svg>path, .productAnimation, .productAnimation>svg>path{
  animation: itemProduct 1s infinite;
}

.productItemNone:hover div.showMetric{
  display: block;
}

@keyframes itemProduct{
  0%{
    background-color: var(--color-primary);
    border-color: var(--color-primary);
    fill: white;

  }
  50%{
    background-color: white;
    border-color: #D5DFE4;
    fill: #425A8B;
  }
  100%{
    background-color: var(--color-primary);
    border-color: var(--color-primary);
    fill: white;
  }
}

.styles_Tooltip__tooltip___Mj8o{
    max-width: 320px;
    width: max-content;
    word-wrap: break-word;
    border: 1px solid black;
    background: var(--color-bg-card-btn);
    color: var(--color-primary-text);
    border-radius: 4px;
    padding: calc(2 * 4px) calc(3 * 4px);
    margin: calc(2 * 4px);
    display: none;
}
